:root {
  --mainColor:rgb(255, 187, 0);
  --secondaryColor:rgb(255, 255, 255);
  --mainFont:'Poppins', sans-serif;
}

.navbar-brand {
  font-family: var(--mainFont);
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 4px;
  margin-left: 80px;
}

.navbar, .fixed-top, .navbar-expand-lg, .navbar-light {
  background-color: var(--mainColor);
}

.navbar-expand-lg .navbar-collapse {
  justify-content: flex-end !important;
  margin-right: 80px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3.5rem;
  font-family: var(--mainFont);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
}

.jumbotron, .jumbotron-fluid {
  height: 24rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color:rgba(255, 255, 255, 0) !important;
  background-image: url("../images/Hero.jpg");
  background-size: cover;
  margin-top: 2.5%;
}

.container {
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px;
  margin-right: 54%;
  margin-left: 6%;
  color: var(--mainColor);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

.display-4 {
  font-size: 3.5rem;
  font-family: var(--mainFont);
  font-weight: 200;
}

.lead {
  font-size: 1.50rem;
  font-weight: 300;
}

.btn-primary {
  color: #000;
  background-color: var(--mainColor);
  border-color: var(--mainColor);
  font-family: var(--mainFont);
  font-weight: 300;
}